.proximos-eventos{
    height: 90vh;
    background: rgb(245,121,121);
    background: linear-gradient(90deg, rgba(245,121,121,0.5047268907563025) 0%, rgba(215,48,54,0.5215336134453781) 52%, rgba(103,71,71,0.510329131652661) 84%);
}
.titulo-eventos{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    -webkit-text-stroke: 1px #630505; /* contorno de 1px de ancho en color negro */
  text-stroke: 1px #5d0505;
}
/* Aumenta el tamaño de los dots */
.slick-next:before, .slick-prev:before {
  font-size: 30px;
  color: black;
}
  