body{
  margin: 0;
}

.Usuarios {
    width: 100%;  
}
  
.head{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    color: rgb(151, 149, 149);
}
.btnUsu{
    background: #fff;
    color: #242424;
    border: none;
}
.btn1Usu{
    border: none;
    width: 60px;
    background-color: transparent;
}
.btnUsu:hover, .btn1Usu:hover{
    border: 3px solid rgb(71, 72, 71);
    background-color: rgb(204, 212, 204);
    transition: all 0.3s ease-out;
}
table {
    width: 100%;
    border-collapse: collapse;
  }
  
.tab2 {
    width: 100%;
  }
  

  .container {
    display: flex;
    flex-direction: column;
  }
  

  